.stage {
	background-image: url("/images/backdrop.png");
	position: absolute;
	width: 512px;
	height: 480px;
	left: 50%; top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.slots{
	height:44px;
	width:172px;
	margin-top: 186px;
	margin-left: 170px;
	position: absolute;

}

.slot {
	width:44px;
	height:44px;
	background-image: url('../images/smb2_various_sheet.png');
	position:absolute;
	background-size: 900px 910px;
	background-position: -308px -473px;
}

.slot-star{
	background-position: -308px -473px;
	animation: to-star 0.5s steps(1);
}

@keyframes to-star {
  25% {
    background-position: -368px -473px;
  }
  50% {
    background-position: -488px -473px;
  }
  75% {
  	background-position: -428px -473px;
  }
  100% {
    background-position: -308px -473px;
  }
}


.slot-cherry{
	background-position: -488px -473px;
	animation: to-cherry 0.5s steps(1);
}

@keyframes to-cherry {
  25% {
    background-position: -368px -473px;
  }
  50% {
  	background-position: -428px -473px;   
  }
  75% {
  	background-position: -308px -473px;
  }
  100% {
  	background-position: -488px -473px;
  }
}

.slot-enemy{
	background-position: -368px -473px;
	animation: to-enemy 0.5s steps(1);
}

@keyframes to-enemy {
  25% {
    background-position: -488px -473px;
  }
  50% {
    background-position: -308px -473px;
  }
  75% {
  	background-position: -428px -473px;
  }
  100% {
  	background-position: -368px -473px;
  }
}

.slot-carrot{
	background-position: -428px -473px;
	animation: to-carrot 0.5s steps(1);
}

@keyframes to-carrot {
  25% {
    background-position: -488px -473px;
  }
  50% {
    background-position: -308px -473px;
  }
  75% {
  	background-position: -368px -473px;
  }
  100% {
  	background-position: -428px -473px;
  }
}

#first {
	margin-left: 0px;
	animation-iteration-count: 5;
}

#second{
	margin-left: 64px;
	animation-iteration-count: 7;
}

#third{
	margin-left: 128px;
	animation-iteration-count: 9;
}

#lives{
	margin-top:342px;
	margin-left:366px;
	width:36px;
	height:24px;
	background: black;
	position: absolute;
	font-family: 'SMB3_FONT';
	color: white;
	font-size: 24px;
}

#coins{
	margin-top:262px;
	margin-left:286px;
	width:36px;
	height:24px;
	background: black;
	position: absolute;
	font-family: 'SMB3_FONT';
	color: white;
	font-size: 24px;
}